/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-7-18, 20:43:22
    Author     : PC
*/
.answer-tip-text1{
    font-size: 15px;
    color: #0066ff;
}
.answer-tip-text2{
    font-size: 15px;
    color: #009933;
}
.answer-filling{
    margin: 3px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    min-width: 25%;
}

.answer-question{
    display: inline-block;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    min-width: 100%;
    max-width:770px; 
    
}

.answer-right{
    margin-left: -40px;
    margin-bottom: -30px;
    display:block;
    height:30px;
    width:40px;
    background:url("../img/right-small.png") left no-repeat;
}
.answer-wrong{
    margin-left: -40px;
    margin-bottom: -30px;
    display:block;
    height:30px;
    width:40px;
    background:url("../img/wrong-small.png") left no-repeat;
}
.answer-right-choice{
    margin-bottom: -30px;
    display:block;
    height:30px;
    width:40px;
    background:url("../img/right-small.png") left no-repeat;
}
.answer-wrong-choice{
    margin-bottom: -30px;
    display:block;
    height:30px;
    width:40px;
    background:url("../img/wrong-small.png") left no-repeat;
}
.answer-check{
    margin-left: 5px;
    margin-top: -20px;
    margin-bottom: -10px;
    display: inline-block;
    height:30px;
    width:40px;
    background:url("../img/answer-small.png") left no-repeat;
}

