/* Akira CSS by Shawn Drew */

/* general */
body {padding-top:20px; padding-bottom:20px;}

h1 {padding-bottom:0.2em;}

.meta {color:#999; font-size:.9em; display:block;}
.meta em {font-style:normal; font-weight:bold;}

/* login */
#login-page.container {width:320px;}

/* dashboard */
.summary {display:table; width:100%; padding:0; margin:0 0 20px 0;}
.summary ul {margin:0; padding:0; overflow:hidden; display:table-row;}
.summary li {margin:0; padding:19px; display:table-cell; border-right:1px solid #eee;}
.summary li:last-child {border:none;}
.summary a {display:block; font-size:1.2em; line-height:1.4em; text-transform:uppercase; color:#000;}
.summary .count {display:block; font-size:1.75em; font-weight:bold;}

	/* dashboard - ie fixes */
	.ie7 .summary {display:block;}
	.ie7 .summary ul {margin:0; padding:0; overflow:hidden; display:block;}
	.ie7 .summary li {float:left;}
	
	.ielt9 .summary .last {border:none;}

/* tasks */
.tasks {margin:0; padding:0;}
.tasks li {list-style-type:none; padding-bottom:0.3em;}
.tasks input {vertical-align:baseline;}
.tasks .meta {padding-left:18px;}
.tasks.done {opacity:0.8;}

/* messages */
.messages {margin:0; padding:0;}
.messages .messages {padding-top:19px;}
.messages li {list-style-type:none; padding-bottom:0.3em;}
.messages .well {padding:19px;}
.messages .messages .well {border:none; -webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none; border-left:3px solid #eee;border-left:3px solid rgba(0, 0, 0, 0.05);}

/* blank slate */
.blank-slate {text-align:center;}

/* files */
.files li {list-style-type:none;}
.files .meta {padding-left:18px;}

.zebra-list {margin:0 0 18px 0; padding:0;}
.zebra-list li {border:1px solid #DDD; padding:8px; border-bottom:none;}
.zebra-list li:nth-child(odd) {background-color:#F9F9F9;}
.zebra-list li:first-child {-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.zebra-list li:last-child {border-bottom:1px solid #DDD; -webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
.ywnav{
    width: 100%;
    margin-top: -20px;
    background-color: #29282e;
}
.ywnav1{
    width: 100%;
    margin-top: -10px;
    background-color: #29282e;
}
.ywlogo{
    width: 264px;
    height: 60px;
    background:url(../../img/logo.png);
}
.ysgs{
    margin-left: 289px;
    margin-top: -40px;
    font-size: 30px;
    color: #fff;
    float: left;
}
.leftbar{
    float:left;
    width: 264px;
    margin-top: 0px;
    height: 800px;
    background-color: #ffe9e3;
}
.rightbar{
    margin-top: 0px;
    float: left;
    height: 600px;
    overflow:auto;
    width: 75%;
}
.sjdp{
    margin-left: 40%;
    margin-top: -40px;
    font-size: 30px;
    color: #fff;
    float: left;
    width: 130px;
}
.sjdp1{
    background-color: #3B3A41;
    margin-left: 40%;
    height: 58px;
    width: 130px;
    margin-top: -60px;
    text-align:center; /*水平居中*/
    line-height: 58px;
    border-top:2px solid #F80D01;    
    font-size: 30px;
    color: #fff;
    float: left;
}
.sjdp a{
    display:block;
    color: #fff;
}
.sjdp1 a{
    display:block;
    color: #fff;
}
.kcjk{
    margin-left: 50%;
     width: 130px;
    margin-top: -40px;
    font-size: 30px;
    color: #fff;
    float: left;   
}
.kcjk1{
    background-color: #3B3A41;
    margin-left: 50%;
    height: 58px;
    width: 130px;
    margin-top: -60px;
    text-align:center; /*水平居中*/
    line-height: 58px;
    border-top:2px solid #F80D01;    
    font-size: 30px;
    color: #fff;
    float: left;   
}
.kcjk a{
    color: #fff;
}
.kcjk1 a{
    color: #fff;
}
.ksjg{
    margin-left: 60%;
     width: 130px;
    margin-top: -40px;
    font-size: 30px;
    color: #fff;
    float: left;   
}
.ksjg1{
    background-color: #3B3A41;
    margin-left: 60%;
    height: 58px;
    width: 130px;
    margin-top: -60px;
    text-align:center; /*水平居中*/
    line-height: 58px;
    border-top:2px solid #F80D01;    
    font-size: 30px;
    color: #fff;
    float: left;   
}
.ksjg a{
   color: #fff; 
}
.ksjg1 a{
   color: #fff; 
}

a:hover{
text-decoration:none;
}
.stuindex{
    margin:0 auto; 
}
.waittime{
    
   width: 300px;
   height: 350px;
   background-color: #ffffff;
   margin-left: 10px;
   float: left; 
}